<a href="https://colab.research.google.com/github/PavanReddy28/CRuX/blob/main/TimeSeriesForecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Time Series Forecasting using ARIMA

### Packages

In [ ]:
from datetime import datetime
import pandas as pd

### Basics

In [ ]:
datetime.strptime('2013-01-01 09:10:12', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2013, 1, 1, 9, 10, 12)

In [ ]:
def parser(x):
	return datetime.strptime('190'+x, '%Y-%m')

In [ ]:
print(parser('3-01'))

1903-01-01 00:00:00

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/shampoo.csv')

In [ ]:
df.head()

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3